---
Language:        Cpp
BasedOnStyle:    Google

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignOperands: true   # 🔥 正確修正

BreakBeforeBraces: Attach
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Right
ColumnLimit: 120
SortIncludes: true
IncludeBlocks: Preserve
ReflowComments: true
UseTab: Never
TabWidth: 8
...
